body, html {
    background-color: var(--bgColor);
    color: var(--textColor);
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: white;
}

::selection {
    color: black;
    background-color: pink;
}

.darkmode {
    --textColor: white;
    --bgColor: hsl(0, 0%, 10%);
    --buttonBgColor: hsl(0, 0%, 20%);
    --boxShadow: 2px 2px 12px hsla(0, 0%, 95%, 0.4);
}
:root {
    --bgColor: hsl(0, 0%, 92%);
    --bgColorReverse: hsl(0, 0%, 10%);
    --textColor: black;
    --textColorReverse: white;
    --buttonBgColor: hsl(0, 0%, 80%);
    --mainColor: #ffbccc;
    --mainColorSlight: #ffbccc60;
    --mainColorHover: #e6b4bf;
    --boxShadow: 3px 3px 10px hsla(0, 0%, 0%, 0.4);
}

.show {
    opacity: 1 !important;
}

.spans {
    color: var(--mainColor);
}

nav {
    color: var(--textColor);
}
.navWidth {
    width: 1400px;
}

.mainH1 {
    font-family: "Roboto", sans-serif;
}
#subtext {
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.divs {
    padding: 40px;
    height: 100vh;
}
.featuresDivs {
    position: relative;
    height: 140vh !important;
    /*border: 3px solid white;*/
}
.featContent {
    position: absolute;
    width: 30vw;
    opacity: 0;
    /*height: 400px;*/
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 20px;
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    background-color: hsl(0, 0%, 15%);
    transition: all .3s ease-in-out;
}
.featContent:hover {
    background-color: hsla(0, 0%, 15%, 0.4);
    border: 2px solid white;
}

.featContent i {
    font-size: 2.75rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: var(--mainColor);
}
.featContent h1 {
    color: var(--textColorReverse);
    font-size: 3rem;
}
.featContent p {
    color: var(--textColorReverse);
    line-height: 1;
    font-size: 2rem;
}

.featContent1 {
    margin-top: 60px;
    margin-left: 30px;
}
.featContent2 {
    top: 50%;
    transform: translate(-50%, -50%)
}
.featContent3 {
    bottom: 0;
    margin-bottom: 60px;
}

.section2 {
    position: relative;
    background-color: var(--bgColorReverse);
    overflow: hidden !important;
}
.section2::before {
    content: "";
    position: absolute;
    opacity: 0;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--mainColorSlight), transparent, transparent);
    width: 3500px;
    height: 3500px;
    transition: 0.4s, top 0.1s, left 0.1s;
}
.section2:hover::before {
    opacity: 1;
}

h1 {
    font-size: 2rem;
    color: var(--textColor);
}

#container {
    display: flex;
}

.navBtns {
    position: relative;
    margin: 0 10px;
    z-index: 2222;
    color: var(--textColor);
    background-color: transparent;
}
.navBtns::after, .navBtns::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 3px;
    opacity: 0;
    border-radius: 5px;
    background-color: var(--mainColor);
    transition: all .3s ease-in-out;
}
.navBtns:hover::after, .navBtns:hover::before {
    transform: scaleX(1);
    opacity: 1;
}
.navBtns::before {
    filter: blur(6px);
}
.navBtns:hover {
    color: var(--textColor);
}

#lastBtn {
    margin-right: 0 !important;
}

.mainCont {
    position: relative;
    align-items: center;
}

.smallCont {
    position: absolute;
    left: 50%;
    width: 1400px;
    transform: translateX(-50%);
    /*border: 5px solid rgba(147, 59, 158, 0.589);*/
    padding: 0 !important;
}

.mainSmallConts {
    position: relative;
    font-size: 5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    /*border: 1px solid black;*/
}

.row {
    padding: 0;
    margin: 0;
}

.imgCont {
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    width: 550px;
    height: 550px;
    transition: all .3s ease-in-out;
}
.imgCont img {
    position: absolute;
    height: 550px;
    transition: all .3s ease-in-out;
}

#mainContText {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    /*background-color: gray;*/
    color: var(--textColor);
    text-align: left !important;
}
#mainContText h1 {
    font-size: 5rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-family: "Roboto";
    transition: all .3s ease-in-out;
}
#mainContText h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    width: 700px;
    transition: all .3s ease-in-out;
}

#actionBtn {
    width: fit-content;
    background-color: var(--mainColor);
    color: hsl(0, 0%, 5%);
    font-size: 1.75rem;
    padding: 2px 40px;
    transition: all .3s ease-in-out;
}
#actionBtn:hover {
    box-shadow: var(--boxShadow);
}
.between {
    position: relative;
    width: 100%;
    margin: 40px 0;
    height: 200px;
    text-align: center;
}

.bigger, .smaller {
    position: absolute;
    font-family: "Roboto";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bigger {
    font-size: 9rem;
    width: 1500px;
    opacity: 0.04;
}
.smaller {
    letter-spacing: 10px;
    font-size: 5.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.pen, .lightning, .headset {
    font-size: 2rem;
    color: black;
    z-index: 3;
}

.starsUl {
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding: 0;
}
.stars {
    color: rgb(231, 189, 52);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    transition: all .2s ease-in-out;
}
.stars:hover {
    color: rgb(245, 204, 71);
    transform: scale(1.05);
}


.wrapper {
    position: relative;
    border: none;
    position: relative;
    width: 100%;
    height: 400px;
    margin: 4vw 0;
    overflow-x: hidden;
    transition: all 1s ease-in-out;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
}

.item {
    position: absolute;
    width: 500px;
    height: 400px;
    left: max(calc(500px * 4), 100%);
    background-color: var(--mainColor);
    border-radius: 25px;
    animation-name: scrollLeft;
    animation-timing-function: linear;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    padding: 40px;
    color: black !important;
    transition: all .3s ease-in-out;
}
.item h1 {
    color: black;
    font-size: 3rem;
    font-family: "Roboto";
}
.item p {
    font-size: 2rem;
    font-family: "Inter";
    line-height: 1.1;
}
.item:hover {
    background-color: var(--mainColorHover);
    cursor: pointer;
}
.item img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px 40px;
    height: 120px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    width: 120px;
    border-radius: 100%;
    transition: all .2s ease-in-out;
}
.item img:hover {
    transform: scale(1.1);
}

.item1 {animation-delay: calc(50s / 4 * (4 - 1) * -1);}
.item2 {animation-delay: calc(50s / 4 * (4 - 2) * -1);}
.item3 {animation-delay: calc(50s / 4 * (4 - 3) * -1);}
.item4 {animation-delay: calc(50s / 4 * (4 - 4) * -1);}

@keyframes scrollLeft {
    to{
        left: -500px;
    }
}