body, html {
    background-color: var(--bgColor);
    color: var(--textColor);
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: white;
}

::selection {
    color: black;
    background-color: pink;
}

.darkmode {
    --textColor: white;
    --inputBg: hsl(0, 0%, 24%);
    --bgColor: hsl(0, 0%, 10%);
    --border: 1px solid hsla(0, 0%, 100%, 0.8);
    --buttonBgColor: hsl(0, 0%, 20%);
    --inputLabelFocus: hsl(0, 0%, 75%);
    --boxShadow: 2px 2px 12px hsla(0, 0%, 95%, 0.4);
}
:root {
    --bgColor: hsl(0, 0%, 92%);
    --inputBg: hsl(0, 0%, 100%);
    --bgColorReverse: hsl(0, 0%, 10%);
    --textColor: black;
    --textColorReverse: white;
    --inputLabelFocus: hsl(0, 0%, 40%);
    --buttonBgColor: hsl(0, 0%, 80%);
    --mainColor: #ffbccc;
    --mainColorSlight: #ffbccc5d;
    --mainColorExtraSlight: #ffbccc3f;
    --mainColorHover: #e6b4bf;
    --boxShadow: 3px 3px 10px hsla(0, 0%, 0%, 0.4);
}

button, button:focus, .btn:focus {
    outline: none;
    box-shadow: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.offCanvasUl {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}
.offCanvasBtn {
    font-size: 1.25rem;
    z-index: 11;
    color: var(--textColor);
    background-color: var(--bgColor);
    border-radius: 4px;
}

.showNormal { opacity: 1 !important; }

.dropScroll {
    opacity: 0;
    transform: translateY(-40px);
    transition: all .5s ease-in-out;
}
.dropShow {
    opacity: 1;
    transform: translateY(0);
}

.spans { color: var(--mainColor); }

.navWidth { width: 1400px; }

#navbarText {
    color: var(--textColor);
}

.navbar {
    background-color: var(--bgColor) !important;
}

.bars {
    display: none;
    font-size: 2rem;
    color: var(--textColor);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.bars:hover {
    cursor: pointer;
}
.navBtns {
    position: relative;
    margin: 0 10px;
    z-index: 2222;
    color: var(--textColor);
    background-color: transparent;
}

.navBtns::after, .navBtns::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 3px;
    opacity: 0;
    border-radius: 5px;
    background-color: var(--mainColor);
    transition: all .3s ease-in-out;
}
.navBtns:hover::after, .navBtns:hover::before {
    transform: scaleX(1);
    opacity: 1;
}
.navBtns::before {
    filter: blur(6px);
}
.navBtns:hover {
    color: var(--textColor);
}

.lastBtn {
    margin-right: 0 !important;
}

.mainH1 { font-family: "Roboto", sans-serif; }

#subtext {
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.divs {
    padding: 40px;
    height: 100vh;
}
.featContent {
    position: absolute;
    width: 600px;
    height: 320px;
    opacity: 0;/*
    left: 50%;
    transform: translateX(-50%);*/
    padding: 30px 20px;
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    background-color: hsl(0, 0%, 15%);
    transition: all .3s ease-in-out;
}
.featContent:hover {
    background-color: hsla(0, 0%, 15%, 0.4);
    border: 2px solid white;
}

.featContent i {
    font-size: 2.75rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: var(--mainColor);
}
.featContent h2 {
    color: var(--textColorReverse);
    font-family: "Roboto";
    white-space: nowrap;
    font-size: 3rem;
}
.featContent p {
    color: var(--textColorReverse);
    font-family: "Inter";
    line-height: 1;
    font-size: 2rem;
}

.featContent1 {
    margin-top: 60px;
    transform: translateX(-40%);
}
.featContent2 {
    top: 50%;
    transform: translateY(-50%)
}
.featContent3 {
    bottom: 0;
    transform: translateX(40%);
    margin-bottom: 60px;
}

.section2 {
    height: 1400px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--bgColorReverse);
    overflow: hidden !important;
}
.section2::before {
    content: "";
    position: absolute;
    opacity: 0;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--mainColorSlight), transparent, transparent);
    width: 3500px;
    height: 3500px;
    transition: 0.4s, top 0.1s, left 0.1s;
}
.section2:hover::before {
    opacity: 1;
}

.mainCont {
    position: relative;
    align-items: center;
}

.smallCont {
    position: absolute;
    left: 50%;
    top: 50%;
    pointer-events: none;
    display: flex;
    width: 1400px;
    transform: translate(-50%, -50%);
}

.mainSmallConts {
    position: relative;
    font-size: 5rem;
    align-items: center;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
}

.row {
    padding: 0;
    margin: 0;
}

.imgCont {
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    width: 550px;
    height: 550px;
    transition: all .3s ease-in-out;
}
.imgCont img {
    position: absolute;
    height: 550px;
    transition: all .3s ease-in-out;
}

#mainContText {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: var(--textColor);
    text-align: left !important;
}
#mainH1 {
    font-size: 5rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-family: "Roboto";
    pointer-events: all;
    transition: all .3s ease-in-out;
}
#subtext {
    font-size: 2rem;
    margin-bottom: 20px;
    width: 700px;
    pointer-events: all;
    transition: all .3s ease-in-out;
}

#actionBtn {
    width: fit-content;
    background-color: var(--mainColor);
    color: hsl(0, 0%, 5%);
    font-size: 1.75rem;
    pointer-events: all;
    padding: 2px 40px;
    transition: all .3s ease-in-out;
}
#actionBtn:hover {
    box-shadow: var(--boxShadow);
}

.between {
    position: relative;
    width: 100%;
    margin: 40px 0;
    height: 200px;
    text-align: center;
}
.bigger, .smaller {
    position: absolute;
    font-family: "Roboto";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bigger {
    color: var(--textColor);
    font-size: 9rem;
    width: 1500px;
    opacity: 0.04;
}
.smaller {
    letter-spacing: 10px;
    font-size: 5.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.pen, .lightning, .headset {
    font-size: 2rem;
    color: black;
    z-index: 3;
}

ul { list-style-type: none; }

.starsUl {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
}

.stars {
    color: rgb(231, 189, 52);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    transition: all .2s ease-in-out;
}
.stars:hover {
    color: rgb(243, 203, 71);
    transform: scale(1.05);
}


.wrapper {
    position: relative;
    border: none;
    width: 100%;
    max-width: 2000px;
    height: 400px;
    opacity: 0;
    margin: 4vw auto;
    overflow-x: hidden;
    transition: all 2s ease-in-out;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
}

.item {
    position: absolute;
    width: 500px;
    height: 400px;
    left: max(calc(500px * 4), 100%);
    background-color: var(--mainColor);
    border-radius: 25px;
    padding: 40px;
    color: black !important;
    transition: all .3s ease-in-out;
    animation: scrollLeft 50s linear infinite;
}
.item h1 {
    color: black;
    font-size: 3rem;
    font-family: "Roboto";
}
.item p {
    font-size: 2rem;
    font-family: "Inter";
    line-height: 1.1;
}
.item:hover {
    background-color: var(--mainColorHover);
    cursor: pointer;
}
.item img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px 40px;
    height: 120px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    width: 120px;
    border-radius: 100%;
    transition: all .2s ease-in-out;
}
.item img:hover {
    transform: scale(1.1);
}

.item1 {animation-delay: calc(50s / 4 * (4 - 1) * -1);}
.item2 {animation-delay: calc(50s / 4 * (4 - 2) * -1);}
.item3 {animation-delay: calc(50s / 4 * (4 - 3) * -1);}
.item4 {animation-delay: calc(50s / 4 * (4 - 4) * -1);}

.ratings {
    font-size: 2rem;
    margin-right: 5px;
    font-family: "Roboto" sans-serif;
}

.section3 {
    width: 100%;
    max-width: 2000px;
    margin: auto;
}

.cards {
    position: relative;
    margin: auto;
    height: 800px;
    width: 600px;
    border: var(--border);
    overflow: hidden;
    padding: 50px;
    border-radius: 30px;
    background-color: var(--bgColorReverse);
}

.cards::before {
    content: "";
    position: absolute;
    top: var(--cardY);
    left: var(--cardX);
    opacity: 0;
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--mainColorExtraSlight), transparent, transparent);
    width: 1400px;
    pointer-events: none;
    height: 1400px;
    transition: 0.4s, top 0s, left 0s;
}
.cards:hover::before {
    opacity: 1;
}

.cards h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: "Roboto" sans-serif;
    color: var(--textColorReverse);
}

.purchaseUl {
    display: flex;
    flex-direction: column;
    list-style-type: circle;
    padding-left: 30px;
    gap: 20px;
}
.purchaseUl li {
    font-family: "Inter";
    white-space: nowrap;
    font-size: 1.75rem;
}
.purchaseUl li:hover {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.6);
}

.cardIcons {
    font-size: 2rem;
    color: var(--mainColor);
    margin: 20px;
}
.prices {
    position: relative;
    font-family: "Roboto" sans-serif;
    color: var(--textColorReverse);
    font-size: 3.25rem;
    margin-bottom: 40px;
}
.purchase {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    outline: none;
    font-family: "Roboto";
    margin: 50px;
    padding: 2px 40px;
    background-color: hsl(0, 0%, 60%);
    border-radius: 4px;
    font-size: 2.2rem;
}
.purchase::before {
    content: "";
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    z-index: -1;
    background-color: var(--mainColor);
    transition: all .3s ease-in-out;
}
.purchase:hover::before, .purchase:focus::before {
    transform: scaleX(1);
}

.contactCont {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleCont {
    position: absolute;
    height: 600px;
    width: 80vw;
    max-width: 1200px;
    align-items: center;
    color: var(--textColor);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--bgColor);
}
.middleCont h1 {
    font-size: 3rem;
    font-family: "Roboto" sans-serif;
}
.middleCont p {
    font-size: 1.75rem;
    font-family: "Inter" sans-serif;
    line-height: 1.2;
}


.input-wrapper {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .input-wrapper input {
    width: 100%;
    padding: 12px 8px;
    background-color: var(--inputBg);
    color: var(--textColor);
    outline: none;
    font-family: "Roboto" sans-serif;
    font-size: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    transition: border .2s ease-in-out;
  }
  .input-wrapper input:focus {
    border-bottom: 2px solid var(--mainColor);
  }

  .input-wrapper label {
    position: absolute;
    color: var(--textColorReverse);
    left: 10px;
    top: 12px;
    background: transparent;
    padding: 0 4px;
    color: #aaa;
    font-size: 1.5rem;
    pointer-events: none;
    transition: 0.2s ease-in-out all;
  }
  
  .input-wrapper input:focus + label,
  .input-wrapper input:not(:placeholder-shown) + label {
    top: -16px;
    left: 10px;
    font-size: 1.25rem;
    color: var(--inputLabelFocus);
  }
  
  .input-wrapper input::placeholder {
    color: transparent;
  }

#text {
    font-size: 1.5rem;
    padding: 15px;
    width: 100%;
    height: 300px;
    color: var(--textColor);
    outline: none;
    background-color: var(--inputBg);
    font-family: "Inter" sans-serif;
    border: 2px solid rgba(0, 0, 0, 0);
    resize: none;
    border-radius: 6px;
    margin-bottom: 55px;
    transition: border .2s ease-in-out;
}
#text:focus {
    border-bottom: 2px solid var(--mainColor);
}
#text::placeholder {
    color: hsl(0, 0%, 65%);
    font-size: 1.5rem;
}

.loadShow {
    width: 100% !important;
}
.lines {
    position: relative;
    height: 4px;
    max-width: 2000px;
    width: 0;
    border-radius: 4px;
    background-color: var(--mainColor);
    margin: 30px auto;
    transition: all .5s ease-in-out;
}
.lines::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background-color: var(--mainColor);
    filter: blur(8px);
}
#submit {
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: 1.5rem;
    padding: 2px 20px;
    outline: none;
    border: none;
    z-index: 1;
    border-radius: 4px;
    background-color: var(--inputBg);
}
#submit::after {
    content: "";
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: inherit;
    background-color: var(--mainColor);
    transition: all .3s ease-in-out;
}
#submit:hover::after, #submit:focus::after {
    transform: scaleX(1);
}

.contactUl {
    display: flex;
    text-align: center;
    padding: 0;
    gap: 40px;
}
.contactIcons {
    position: relative;
    color: var(--textColor);
    font-size: 2.2rem;/*
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);*/
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.contactIcons:hover {
    color: var(--mainColor);
}
.contactIcons::after, .contactIcons::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    transform: scaleX(0);
    border-radius: 4px;
    background-color: var(--mainColor);
    transition: all .2s ease-in-out;
}
.contactIcons:hover::after {
    transform: scaleX(1);
}

.footer {
    margin-top: 100px;
    border-top: var(--border);
    background-color: var(--bgColorReverse);
}
.footerLogo {
    height: 60px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.footerIconsUl {
    display: flex;
    width: fit-content !important;
    flex-direction: row !important;
    gap: 20px !important;
}
.footerIcons {
    color: hsl(0, 0%, 80%);
    font-size: 1.6rem !important;
}
.footer h5 {
    margin-bottom: 20px;
}

.footerLi {
    position: relative;
    white-space: nowrap;
    color: hsl(0, 0%, 80%);
    text-decoration: none !important;
    transition: all .2s ease-in-out;
}
.footerLi:hover {
    color: white;
}
.footerLi::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--mainColor);
    transition: all .2s ease-in-out;
}
.footerLi:hover::after {
    transform: scaleX(1);
}
.footerPad {
    padding-inline: 20px;
}
.footerUl {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes scrollLeft {
    to{
        left: -500px;
    }
}