@media only screen and (max-width: 1400px) {
    .smallCont {
        width: 1050px;
    }
    .imgCont {
        width: 450px;
        height: 450px;
    }
    .imgCont img {
        height: 450px;
    }
    #mainContText h1 {
        width: 600px;
        font-size: 4rem;
    }
    #mainContText h2 {
        font-size: 1.75rem;
        width: 500px;
    }
    .featContent i {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .featContent h1 {
        font-size: 2.5rem;
    }
    .featContent p {
        line-height: 1;
        font-size: 1.75rem;
    }
    .featuresDivs {
        height: 700px;
    }
}


@media only screen and (max-width: 1100px) {
    .smallCont {
        width: 800px;
    }
    .imgCont {
        width: 380px;
        height: 380px;
    }
    .imgCont img {
        height: 380px;
    }
    #mainContText h1 {
        width: 600px;
        font-size: 3rem;
    }
    #mainContText h2 {
        font-size: 1.5rem;
        width: 380px;
    }
}

@media only screen and (max-width: 769px) {
    .featContent {
        top: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
    }
    .featuresDivs {
        height: 700px !important;
    }
    #mainContText {
        bottom: 0;
        height: 400px;
        text-align: center;
        align-items: center;
    }
    #mainH1 {
        text-align: center;
    }
    #subtext {
        text-align: center;
    }
    #actionBtn {
        width: 90vw;
    }
    .mainSmallConts {
        height: 60vh;
    }
}